<footer class="uk-section uk-section-large uk-section-secondary uk-text-muted">
  <div class="uk-container">
    <div class="uk-grid-margin-large" data-uk-grid>
      <div class="uk-width-medium@l uk-width-1-3@m">
        <div class="uk-margin">
          <a href="../index.html">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="uk-logo-inverse" data-src="https://eon.unbound.studio/uploads/logo-light.svg" alt="Eon" data-uk-img>
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://eon.unbound.studio/uploads/logo-dark.svg" alt="Eon" data-uk-img>
          </a>
        </div>
        <div class="uk-margin uk-text-small copyright">Made by <a href="https://unbound.studio/">Unbound Studio</a> in Mexico City.</div>
        
          <div class="uk-margin">
            <div data-uk-grid class="uk-child-width-auto uk-grid-small">
<div>
    <a href="https://www.facebook.com/" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon" aria-label="Facebook" rel="noopener" target="_blank"></a>
</div>
<div>
    <a href="https://www.instagram.com/" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon" aria-label="Instagram" rel="noopener" target="_blank"></a>
</div>
<div>
    <a href="mailto:info@blacompany.com" data-uk-icon="icon: mail" class="uk-icon-link uk-icon" aria-label="Mail" rel="noopener" target="_blank"></a>
</div>
            </div>
          </div>
        
      </div>
      
        <div class="uk-width-expand@l uk-width-1-3@m">
          <h5>COMPANY</h5>
          <ul class="uk-list uk-text-small">
                <li><a class="uk-link-muted" href="../index.html#" >Marketing Tools</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Presentations</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Professionals</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Appointments</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Stores</a></li>
          </ul>
        </div>
      
        <div class="uk-width-expand@l uk-width-1-3@m">
          <h5>PRODUCTS</h5>
          <ul class="uk-list uk-text-small">
                <li><a class="uk-link-muted" href="../index.html#" >Small Businesses</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Photographers</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Restaurants</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Designers</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Artists</a></li>
          </ul>
        </div>
      
        <div class="uk-width-expand@l uk-width-1-3@m">
          <h5>JOIN US</h5>
          <ul class="uk-list uk-text-small">
                <li><a class="uk-link-muted" href="../index.html#" >Our Initiatives</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Giving Back</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Communities</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Youth Program</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Charity</a></li>
          </ul>
        </div>
      
        <div class="uk-width-expand@l uk-width-1-3@m">
          <h5>COMMUNITY</h5>
          <ul class="uk-list uk-text-small">
                <li><a class="uk-link-muted" href="../index.html#" >Webinars</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Developers</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Platforms</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Workshops</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Local Meetups</a></li>
          </ul>
        </div>
      
        <div class="uk-width-expand@l uk-width-1-3@m">
          <h5>CONTACT</h5>
          <ul class="uk-list uk-text-small">
                <li><a class="uk-link-muted" href="../index.html#" >Contact Form</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >LinkedIn</a></li>
                <li><a class="uk-link-muted" href="../index.html#" >Facebook</a></li>         
                <li><a class="uk-link-muted" href="../index.html#" >Visit Us</a></li>
          </ul>
        </div>
      
    </div>
   </div> 
</footer>
{% assign social_urls = '' %}
{% if site.github_username %}
    {% assign social_urls = social_urls | append: '"https://github.com/' | append: site.github_username | append: '",' %}
{% endif %}
{% if site.facebook_username %}
    {% assign social_urls = social_urls | append: '"https://www.facebook.com/' | append: site.facebook_username | append: '",' %}
{% endif %}
{% if site.twitter_username %}
    {% assign social_urls = social_urls | append: '"https://twitter.com/' | append: site.twitter_username | append: '",' %}
{% endif %}
{% if site.medium_username %}
    {% assign social_urls = social_urls | append: '"https://medium.com/@' | append: site.medium_username | append: '",' %}
{% endif %}
{% if site.instagram_username %}
    {% assign social_urls = social_urls | append: '"https://www.instagram.com/' | append: site.instagram_username | append: '",' %}
{% endif %}
{% if site.linkedin_username %}
    {% assign social_urls = social_urls | append: '"https://www.linkedin.com/in/' | append: site.linkedin_username | append: '",' %}
{% endif %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ site.name }}",
  "description": "{{ site.description }}",
  "url": "{{ site.url }}{{site.baseurl}}/",
  "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{site.baseurl}}/assets/img/icons/mediumtile.png",
      "width": "600",
      "height": "315"
  },
  "sameAs": [
    {{ social_urls | split: "," | join: "," }}
  ]
}
</script>

<!-- Include Google Analytics script -->
{% include stats.html %}

<!-- Include extra scripts -->
{% include extra-js.html %}


<footer>
    <p>
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" title="Github">
          <svg><use xlink:href="#icon-github"></use></svg>
        </a>
      {% endif %}
      {% if site.facebook_username %}
        <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
          <svg><use xlink:href="#icon-facebook"></use></svg>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
          <svg><use xlink:href="#icon-twitter"></use></svg>
        </a>
      {% endif %}
      {% if site.medium_username %}
        <a href="https://medium.com/@{{ site.medium_username }}" title="Medium">
          <svg><use xlink:href="#icon-medium"></use></svg>
        </a>
      {% endif %}
      {% if site.instagram_username %}
        <a href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
          <svg><use xlink:href="#icon-instagram"></use></svg>
        </a>
      {% endif %}
      {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
          <svg><use xlink:href="#icon-linkedin"></use></svg>
        </a>
      {% endif %}
      {% if site.youtube_username %}
        <a href="https://www.youtube.com/channel/{{ site.linkedin_username }}" title="Youtube">
          <svg><use xlink:href="#icon-youtube"></use></svg>
        </a>
      {% endif %}
    </p>

    {% include links.html %}

    <p>
      <span>GBihvijesti</span> was made with <svg class="love"><use xlink:href="#icon-heart"></use></svg> by <a href="https://gbihvijesti.com" target="_blank" class="creator">Građansko Buđenje</a>
    </p>
</footer>

<script src="/assets/js/scripts.min.js"></script> 
