  <div class="uk-section uk-padding-remove-vertical">
  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-1-2@m uk-width-1-2@s">

        <ul class="uk-subnav uk-subnav-divider uk-flex uk-flex-center uk-flex-left@m uk-flex-left@s uk-padding-small">
          <li><a href="#">Cart</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      </div>
      <div class="uk-width-1-2@m uk-width-1-2@s uk-visible@s uk-padding-small">
        <div class="uk-flex uk-flex-right">
                  <ul class="uk-iconnav">
    <li><a href="#" uk-icon="icon: users"></a></li>
    <li><a href="#" uk-icon="icon: file-edit"></a></li>
    <li><a href="#" uk-icon="icon: copy"></a></li>
    <li><a href="#" uk-icon="icon: trash"></a></li>
</ul>
          <a href="#" class="uk-button uk-button-default uk-button-small uk-border-rounded uk-margin-small-right">Login</a>
          <a href="#" class="uk-button uk-button-primary uk-button-small uk-border-rounded">Register</a>
        </div>
      </div>
      <div class="uk-width-1-1">
        <hr class="uk-margin-remove-top">
      </div>
    </div>
    <div class="uk-grid uk-margin-remove-top">
      <div class="uk-width-1-2 uk-width-expand@m">
        <div class="uk-flex uk-flex-middle">
           <a class="uk-logo uk-navbar-item" href="{{ site.baseurl }}/">
        {% if site.use_logo %}
            {% include logo.html %}
        {% else %}
            {{ site.name }} <span class="version">{{ site.version }}</span>
        {% endif %}
    </a>
      
        </div>
      </div>
      <div class="uk-width-1-2 uk-width-auto@m">
        <nav class="uk-navbar-container uk-navbar-transparent uk-visible@m" uk-navbar>
          <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Home</a></li>
            <li>
              <a href="#">Services</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="#">Ocean freight forwarding</a></li>
                  <li><a href="#">Customs house brokerage</a></li>
                  <li><a href="#">Transportation & Distribution</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">News</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </nav>
        <div class="uk-height-1-1 uk-flex uk-flex-right uk-flex-middle uk-hidden@m">
          <a class="uk-button" href="#modal-mobile-nav" uk-toggle>
            <span uk-navbar-toggle-icon></span>
          </a>
        </div>
        <div id="modal-mobile-nav" class="uk-modal-full" uk-modal>
          <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-width-large uk-padding-large">
              <ul class="uk-nav-primary uk-nav-parent-icon" uk-nav>
                <li class="uk-active"><a href="#">Home</a></li>
                <li class="uk-parent">
                  <a href="#">Services</a>
                  <ul class="uk-nav-sub">
                    <li><a href="#">Ocean freight forwarding</a></li>
                    <li><a href="#">Customs house brokerage</a></li>
                    <li><a href="#">Transportation & Distribution</a></li>
                  </ul>
                </li>
                <li><a href="#">News</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contacts</a></li>
              </ul>
              <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-align-center">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <div data-uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky navbar-background uk-dark; cls-inactive: navbar-background uk-dark">
      <nav class="uk-navbar-container">
          <div class="uk-container">
  <div data-uk-navbar>
    <div class="uk-navbar-left">
       <a class="uk-navbar-item uk-logo" href="{{ site.baseurl }}/">
        {% if site.use_logo %}
            {% include logo.html %}
        {% else %}
            {{ site.name }} <span class="version">{{ site.version }}</span>
        {% endif %}
    </a>

      <ul class="uk-navbar-nav uk-visible@m">
        
      </ul>
    </div>

    <div class="uk-navbar-default">
      {% include menu.html %}
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@m">       
            <li>
                  <div class="uk-navbar-item"><a class="uk-button uk-button-small uk-button-default" href="https://themeforest.net/item/eon-multipurpose-responsive-jekyll-theme/24065900" target="_blank" rel="noopener" >Purchase</a></div>
            </li>
      </ul>
      <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-slide" uk-toggle="" aria-label="Mobile Navigation" data-uk-navbar-toggle-icon data-uk-toggle></a>

    </div>
    
  </div>
</div>
      </nav>
    </div>
  


<div id="offcanvas-slide" uk-offcanvas="" class="uk-offcanvas" style="">
                <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">

                    <button class="uk-offcanvas-close uk-close-large uk-icon uk-close" type="button" uk-close=""><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="close-large"><line fill="none" stroke="#000" stroke-width="1.4" x1="1" y1="1" x2="19" y2="19"></line><line fill="none" stroke="#000" stroke-width="1.4" x1="19" y1="1" x2="1" y2="19"></line></svg></button>

                    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical uk-nav-parent-icon" uk-nav="">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li class="uk-parent">
                            <a href="#">Parent</a>
                            <ul class="uk-nav-sub" hidden="">
                                <li><a href="#">Sub item</a></li>
                                <li><a href="#">Sub item</a></li>
                                <li><a href="#">Sub item</a></li>
                                <li><a href="#">Sub item</a></li>
                                <li><a href="#">Sub item</a></li>
                                <li><a href="#">Sub item</a>
                                    <ul>
                                        <li><a href="#">Sub item</a></li>
                                        <li><a href="#">Sub item</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#js-options">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>

                    <div>
                        <div class="uk-grid-small uk-child-width-auto uk-flex-inline uk-grid uk-grid-stack" uk-grid="">
                            <div class="uk-first-column">
                                <a class="uk-icon-button uk-icon" href="#" uk-icon="icon: facebook"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="facebook"><path d="M11,10h2.6l0.4-3H11V5.3c0-0.9,0.2-1.5,1.5-1.5H14V1.1c-0.3,0-1-0.1-2.1-0.1C9.6,1,8,2.4,8,5v2H5.5v3H8v8h3V10z"></path></svg></a>
                            </div>
                            <div>
                                <a class="uk-icon-button uk-icon" href="#" uk-icon="icon: twitter"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="twitter"><path d="M19,4.74 C18.339,5.029 17.626,5.229 16.881,5.32 C17.644,4.86 18.227,4.139 18.503,3.28 C17.79,3.7 17.001,4.009 16.159,4.17 C15.485,3.45 14.526,3 13.464,3 C11.423,3 9.771,4.66 9.771,6.7 C9.771,6.99 9.804,7.269 9.868,7.539 C6.795,7.38 4.076,5.919 2.254,3.679 C1.936,4.219 1.754,4.86 1.754,5.539 C1.754,6.82 2.405,7.95 3.397,8.61 C2.79,8.589 2.22,8.429 1.723,8.149 L1.723,8.189 C1.723,9.978 2.997,11.478 4.686,11.82 C4.376,11.899 4.049,11.939 3.713,11.939 C3.475,11.939 3.245,11.919 3.018,11.88 C3.49,13.349 4.852,14.419 6.469,14.449 C5.205,15.429 3.612,16.019 1.882,16.019 C1.583,16.019 1.29,16.009 1,15.969 C2.635,17.019 4.576,17.629 6.662,17.629 C13.454,17.629 17.17,12 17.17,7.129 C17.17,6.969 17.166,6.809 17.157,6.649 C17.879,6.129 18.504,5.478 19,4.74"></path></svg></a>
                            </div>
                            <div>
                                <a class="uk-icon-button uk-icon" href="#" uk-icon="icon: mail"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="mail"><polyline fill="none" stroke="#000" points="1.4,6.5 10,11 18.6,6.5"></polyline><path d="M 1,4 1,16 19,16 19,4 1,4 Z M 18,15 2,15 2,5 18,5 18,15 Z"></path></svg></a>
                            </div>
                            <div>
                                <a class="uk-icon-button uk-icon" href="#" uk-icon="icon: receiver"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="receiver"><path fill="none" stroke="#000" stroke-width="1.01" d="M6.189,13.611C8.134,15.525 11.097,18.239 13.867,18.257C16.47,18.275 18.2,16.241 18.2,16.241L14.509,12.551L11.539,13.639L6.189,8.29L7.313,5.355L3.76,1.8C3.76,1.8 1.732,3.537 1.7,6.092C1.667,8.809 4.347,11.738 6.189,13.611"></path></svg></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            

